.mapContainer {
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius-base);
  overflow: hidden;
  z-index: 0;
}

/* Fix for Leaflet marker icons not displaying correctly */
:global(.leaflet-default-icon-path) {
  background-image: url('https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png');
}
